name: Build and release
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '30 4 * * MON'
env:
  DEBIAN_FRONTEND: noninteractive
jobs:
  luacheck:
    name: Check code style (Lua)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Luacheck
        run: |
          set -e
          sudo apt -qy update
          sudo apt -qy install --no-install-recommends lua-check
      - name: Install LuaLS
        run: |
          set -e
          sudo apt -qy update
          sudo apt -qy install build-essential procps curl file git
          NONINTERACTIVE=1 bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install lua-language-server
      - name: Install TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          cache: false
          packages: |
            l3build
      - name: Install files "l3obsolete.txt" and "l3prefixes.csv"
        run: tlmgr install --reinstall --with-doc l3kernel-dev
      - name: Generate file "explcheck-latex3.lua"
        run: l3build tag
      - name: Extract Lua code blocks from file "README.md"
        run: |
          awk '
            BEGIN { inblock=0; count=0 }
            /^```+\s*lua\s*$/ {
              inblock=1
              count++
              fname = sprintf("README-%02d.lua", count)
              next
            }
            /^```+$/ {
              if (inblock) {
                inblock=0
              }
              next
            }
            inblock {
              print > fname
            }
          ' README.md
      - name: Run Luacheck
        id: luacheck
        run: |
          find explcheck README-*.lua -type f -follow -name '*.lua' -not -name 'build.lua' -not -name 'explcheck-toml.lua' -exec \
            luacheck {} +
      - name: Run LuaLS
        if: success() || steps.luacheck.outcome == 'failure'  # Run LuaLS even if Luacheck failed.
        run: |
          cd explcheck/src
          rm explcheck-toml.lua
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          lua-language-server --check=. --checklevel=Hint
  explcheck:
    name: Check code style (expl3)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          cache: false
          packages: |
            l3build
            luatex
      - name: Install files "l3obsolete.txt" and "l3prefixes.csv"
        run: tlmgr install --reinstall --with-doc l3kernel-dev
      - name: Generate file "explcheck-latex3.lua"
        run: l3build tag
      - name: Run explcheck
        timeout-minutes: 1
        env:
          LUAINPUTS: explcheck/src
        run: |
          find */support -type f '(' -name '*.tex' -o -name '*.sty' -o -name '*.cls' ')' -exec \
            texlua explcheck/src/explcheck.lua {} +
  shellcheck:
    name: Check code style (Bash)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          cache: false
          packages: |
            l3build
      - name: Install files "l3obsolete.txt" and "l3prefixes.csv"
        run: tlmgr install --reinstall --with-doc l3kernel-dev
      - name: Run unit tests
        timeout-minutes: 1
        run: l3build check
  regression-tests:
    name: Run regression tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        release:
          #- TL2013
          #- TL2014
          #- TL2015
          #- TL2016
          #- TL2017
          #- TL2018
          #- TL2019
          #- TL2020
          #- TL2021
          #- TL2022
          #- TL2023
          - TL2024
          - latest
    container:
      image: texlive/texlive:${{ matrix.release == 'latest' && 'latest-doc' || format('{0}-historic-doc', matrix.release) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Update the TeX Live Package Manager
        if: matrix.release == 'latest'
        run: tlmgr update --self
      - name: Generate file "explcheck-latex3.lua"
        run: l3build tag
      - name: Install GNU Parallel
        run: |
          set -e

          apt update
          apt install -qy parallel
      - name: Collect package files
        env:
          LUAINPUTS: explcheck/src
        run: |
          set -e

          # Collect the full list of package files.
          find /usr/local/texlive/ -type f -iregex '.*\.\(tex\|cls\|opt\|sty\)$' -print 1> unsorted-files.txt

          # Sort files, so that files from the same directory that can be grouped by explcheck are listed together.
          cat unsorted-files.txt | perl -pe 'print tr{/}{}, "\t"' | LC_ALL=C sort -k1,1n -k2 | cut -f2- > files.txt

          # Split the sorted files into N chunks, where N is the available number of CPUs, making sure that files
          # from the same directory that can be grouped by explcheck are kept together.
          texlua explcheck/ci/split-files-at-group-boundaries.lua files.txt files-%02d.txt $(nproc)
      - name: Run explcheck
        timeout-minutes: 3
        env:
          LUAINPUTS: explcheck/src
        run: |
          set -e

          # Process the sorted chunks with explcheck in parallel, collecting issues and code coverage.
          parallel --line-buffer --jobs $(nproc) --halt now,fail=1 -- \
            texlua explcheck/ci/collect-explcheck-issues-and-code-coverage.lua files-%02d.txt issues-%02d.txt COVERAGE-%02d {} \
            ::: $(seq 1 $(nproc))

          # Merge the issues and code coverage collected from the sorted chunks.
          mkdir issues
          texlua explcheck/ci/merge-issues-and-code-coverage.lua issues-%02d.txt COVERAGE-%02d issues/ issues/COVERAGE $(nproc)
      - name: Print code coverage
        run: cat issues/COVERAGE
      - name: Upload issues and code coverage
        if: matrix.release != 'latest'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.release }}-issues
          path: |
            issues/
      - name: Compare issues against the baselines
        if: matrix.release != 'latest'
        run: git diff --no-index --color=always explcheck/testfiles/${{ matrix.release }}-issues/ issues/
      - name: Check if the configuration is minimal
        timeout-minutes: 3
        if: matrix.release == 'latest'
        env:
          LUAINPUTS: explcheck/src
        run: |
          set -e

          # Collect all options and prepare task files for them.
          texlua explcheck/ci/collect-options-to-check.lua files.txt task-%05d.txt

          # Check the different options in parallel.
          parallel --line-buffer --jobs $(nproc) --halt never -- \
            texlua explcheck/ci/check-option.lua files.txt issues/ {} \
            ::: task-*.txt

          echo 'Could not remove any sections or options.'
  artifacts:
    name: Build and publish artifacts
    needs: [luacheck, explcheck, shellcheck, unit-tests, regression-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install additional packages
        run: |
          set -e
          sudo apt -qy update
          sudo apt -qy install --no-install-recommends parallel
      - name: Install TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          cache: false
          packages: |
            scheme-basic
            l3build
          package-file: |
            **/DEPENDS.txt
      - name: Install files "l3obsolete.txt" and "l3prefixes.csv"
        run: tlmgr install --reinstall --with-doc l3kernel-dev
      - name: Generate file "explcheck-latex3.lua"
        run: l3build tag
      - name: Build CTAN archive and documentation
        timeout-minutes: 5
        run: |
          set -e
          l3build ctan
      - name: Upload CTAN archive
        uses: actions/upload-artifact@v6
        with:
          name: CTAN archive
          path: |
            build/distrib/ctan/expltools-ctan.zip
      - name: Upload documentation
        uses: actions/upload-artifact@v6
        with:
          name: Documentation
          path: |
            build/doc/*.pdf
  docker-image:
    name: Build and publish Docker image
    needs: artifacts
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          cache: false
          packages: |
            l3build
      - name: Install files "l3obsolete.txt" and "l3prefixes.csv"
        run: tlmgr install --reinstall --with-doc l3kernel-dev
      - name: Generate file "explcheck-latex3.lua"
        run: l3build tag
      - name: Determine Docker image tag
        run: printf 'IMAGE_TAG=ghcr.io/%s/explcheck\n' "$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
      - name: Build Docker image
        run: docker build -f explcheck/Dockerfile -t ${{ env.IMAGE_TAG }} .
      - name: Login to GitHub Packages
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish Docker image
        if: github.ref == 'refs/heads/main'
        run: docker push ${{ env.IMAGE_TAG }}
  prerelease:
    name: Publish prerelease
    if: github.ref == 'refs/heads/main'
    needs: artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download CTAN archive and documentation
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true
      - name: Publish prerelease
        uses: softprops/action-gh-release@v2
        with:
          name: The latest version
          tag_name: latest
          prerelease: true
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            expltools-ctan.zip
            *.pdf
